n8n_workflow_nara.json
{
  "name": "나라장터 입찰공고 모니터링 (강화판)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 23 * * *"
            }
          ]
        }
      },
      "id": "node-trigger",
      "name": "매일 KST 08:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const KEYWORDS = ['장애인', '문화예술', '예술', 'AI', '인공지능', '콘텐츠', '교육', '복지', '사회적기업'];\nconst now = new Date();\nconst yesterday = new Date(now.getTime() - 24 * 60 * 60 * 1000);\nfunction fmt(d) {\n  const p = (n) => String(n).padStart(2, '0');\n  return `${d.getFullYear()}${p(d.getMonth()+1)}${p(d.getDate())}${p(d.getHours())}${p(d.getMinutes())}`;\n}\nreturn [{ json: { keywords: KEYWORDS, inqryBgnDt: fmt(yesterday), inqryEndDt: fmt(now) } }];"
      },
      "id": "node-config",
      "name": "검색 조건 설정",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "url": "http://apis.data.go.kr/1230000/ad/BidPublicInfoService/getBidPblancListInfoServc",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "serviceKey",
              "value": "여기에_나라장터_인증키_입력"
            },
            {
              "name": "pageNo",
              "value": "1"
            },
            {
              "name": "numOfRows",
              "value": "100"
            },
            {
              "name": "inqryDiv",
              "value": "1"
            },
            {
              "name": "inqryBgnDt",
              "value": "={{ $json.inqryBgnDt }}"
            },
            {
              "name": "inqryEndDt",
              "value": "={{ $json.inqryEndDt }}"
            },
            {
              "name": "type",
              "value": "json"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "node-api-service",
      "name": "용역 공고 조회",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        -150
      ]
    },
    {
      "parameters": {
        "url": "http://apis.data.go.kr/1230000/ad/BidPublicInfoService/getBidPblancListInfoThng",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "serviceKey",
              "value": "여기에_나라장터_인증키_입력"
            },
            {
              "name": "pageNo",
              "value": "1"
            },
            {
              "name": "numOfRows",
              "value": "100"
            },
            {
              "name": "inqryDiv",
              "value": "1"
            },
            {
              "name": "inqryBgnDt",
              "value": "={{ $('검색 조건 설정').first().json.inqryBgnDt }}"
            },
            {
              "name": "inqryEndDt",
              "value": "={{ $('검색 조건 설정').first().json.inqryEndDt }}"
            },
            {
              "name": "type",
              "value": "json"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "node-api-goods",
      "name": "물품 공고 조회",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "url": "http://apis.data.go.kr/1230000/ad/BidPublicInfoService/getBidPblancListInfoCnstwk",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "serviceKey",
              "value": "여기에_나라장터_인증키_입력"
            },
            {
              "name": "pageNo",
              "value": "1"
            },
            {
              "name": "numOfRows",
              "value": "100"
            },
            {
              "name": "inqryDiv",
              "value": "1"
            },
            {
              "name": "inqryBgnDt",
              "value": "={{ $('검색 조건 설정').first().json.inqryBgnDt }}"
            },
            {
              "name": "inqryEndDt",
              "value": "={{ $('검색 조건 설정').first().json.inqryEndDt }}"
            },
            {
              "name": "type",
              "value": "json"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "node-api-const",
      "name": "공사 공고 조회",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        150
      ]
    },
    {
      "parameters": {
        "jsCode": "const keywords = $('검색 조건 설정').first().json.keywords;\nfunction extractItems(nodeOutput, category) {\n  try {\n    const body = nodeOutput?.json;\n    let items = body?.response?.body?.items || [];\n    if (!Array.isArray(items)) items = items ? [items] : [];\n    return items.map(it => ({ ...it, _category: category }));\n  } catch(e) { return []; }\n}\nconst allItems = [\n  ...extractItems($input.all()[0], '용역'),\n  ...extractItems($input.all()[1], '물품'),\n  ...extractItems($input.all()[2], '공사')\n];\nconst seen = new Set();\nconst unique = allItems.filter(it => { if (seen.has(it.bidNtceNo)) return false; seen.add(it.bidNtceNo); return true; });\nconst matched = unique.filter(it => keywords.some(kw => (it.bidNtceNm||'').includes(kw)));\nconst price = (it) => Number(it.presmptPrce || it.asignBdgtAmt || 0);\nreturn matched.map(it => ({ json: {\n  공고명: it.bidNtceNm,\n  공고번호: it.bidNtceNo,\n  공고순번: it.bidNtceOrd || '00',\n  분류: it._category,\n  수요기관: it.dminsttNm || it.ntceInsttNm || '-',\n  공고일: it.bidNtceDt,\n  마감일시: it.bidClseDt,\n  추정가격원: price(it),\n  추정가격: price(it) > 0 ? price(it).toLocaleString('ko-KR')+'원' : '미공개',\n  수의계약가능: price(it) > 0 && price(it) <= 20000000,\n  상세URL: `https://www.g2b.go.kr/ep/invitation/publish/bidInvitDtlPublish.do?bidno=${it.bidNtceNo}&bidseq=${it.bidNtceOrd||'00'}`\n}}));"
      },
      "id": "node-merge",
      "name": "병합 및 키워드 필터",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $items().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "node-check",
      "name": "매칭 공고 있음?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        920,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all().map(i => i.json);\nconst suui = items.filter(it => it.수의계약가능);\nreturn [{ json: { all: items, suui, suuiCount: suui.length, totalCount: items.length } }];"
      },
      "id": "node-suui",
      "name": "수의계약 분류",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        -100
      ]
    },
    {
      "parameters": {
        "jsCode": "// Claude API 호출용 프롬프트 준비\nconst classified = $('수의계약 분류').first().json;\nconst items = classified.all.slice(0, 20);\nconst prompt = `당신은 나라장터 입찰 전문가입니다.\\n\\n회사 특성:\\n- 장애인기업 + 예비사회적기업\\n- 수의계약 우선 대상(2천만원 이하)\\n- 주요 역량: 문화예술, 콘텐츠, AI, 교육, 복지서비스\\n\\n공고 목록:\\n${JSON.stringify(items.map(it=>({공고번호:it.공고번호,공고명:it.공고명,수요기관:it.수요기관,추정가격:it.추정가격,수의계약가능:it.수의계약가능})),null,2)}\\n\\nJSON 배열로만 응답하세요 (다른 텍스트 없이):\\n[{\"공고번호\":\"...\",\"추천여부\":\"추천|보류|제외\",\"점수\":0~100,\"이유\":\"한줄이유\"}]`;\nreturn [{ json: { prompt } }];"
      },
      "id": "node-ai-prep",
      "name": "AI 프롬프트 준비",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        -250
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "여기에_Anthropic_API_키_입력"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-sonnet-4-6', max_tokens: 2048, messages: [{ role: 'user', content: $json.prompt }] }) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "node-ai-call",
      "name": "Claude AI 호출",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        -250
      ]
    },
    {
      "parameters": {
        "url": "http://apis.data.go.kr/1230000/ad/BidPublicInfoService/getSuccssfulBidListInfoThng",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "serviceKey",
              "value": "여기에_나라장터_인증키_입력"
            },
            {
              "name": "pageNo",
              "value": "1"
            },
            {
              "name": "numOfRows",
              "value": "50"
            },
            {
              "name": "inqryDiv",
              "value": "1"
            },
            {
              "name": "bidNtceNm",
              "value": "={{ $('수의계약 분류').first().json.all[0]?.공고명?.substring(0,10) || '' }}"
            },
            {
              "name": "type",
              "value": "json"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "node-history",
      "name": "낙찰 이력 조회",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1140,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json;\nlet items = body?.response?.body?.items || [];\nif (!Array.isArray(items)) items = items ? [items] : [];\nconst prices = items.map(it => Number(it.sucsfbidAmt||0)).filter(p=>p>0).sort((a,b)=>a-b);\nlet analysis = { 샘플수: 0, 안정형: null, 중간형: null, 공격형: null, 낙찰률평균: null };\nif (prices.length >= 3) {\n  const avg = prices.reduce((s,p)=>s+p,0)/prices.length;\n  const min = prices[0];\n  analysis = {\n    샘플수: prices.length,\n    안정형: Math.round(avg).toLocaleString('ko-KR')+'원',\n    중간형: Math.round(avg*0.97).toLocaleString('ko-KR')+'원',\n    공격형: Math.round((avg+min)/2*0.95).toLocaleString('ko-KR')+'원',\n    낙찰률평균: (avg/prices[prices.length-1]*100).toFixed(1)+'%'\n  };\n}\nreturn [{ json: { 낙찰이력분석: analysis } }];"
      },
      "id": "node-bid-analysis",
      "name": "낙찰가 분석",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "// Claude 응답(index 0) + 낙찰가 분석(index 1) 병합\nconst inputs = $input.all();\nconst aiResponse = inputs[0]?.json;\nconst aiRaw = aiResponse?.content?.[0]?.text || '';\nconst 낙찰이력분析 = inputs[1]?.json?.낙찰이력분析 || { 샘플수: 0 };\nconst classified = $('수의계약 분류').first().json;\n\nlet aiResults = [];\ntry {\n  const match = aiRaw.match(/\\[.*\\]/s);\n  if (match) aiResults = JSON.parse(match[0]);\n} catch(e) {}\n\nconst aiMap = {};\naiResults.forEach(r => { aiMap[r.공고번호] = r; });\n\nconst enriched = classified.all.map(it => ({\n  ...it,\n  AI추천: aiMap[it.공고번호]?.추천여부 || '미분析',\n  AI점수: aiMap[it.공고번호]?.점수 || 0,\n  AI이유: aiMap[it.공고번호]?.이유 || ''\n}));\n\nconst 추천 = enriched.filter(it => it.AI추천 === '추천').sort((a,b) => b.AI점수 - a.AI점수);\nconst 보류 = enriched.filter(it => it.AI추천 === '보류');\nconst 수의 = enriched.filter(it => it.수의계약가능);\n\nreturn [{ json: { 추천, 보류, 수의, 낙찰이력분析, totalCount: enriched.length } }];"
      },
      "id": "node-combine",
      "name": "결과 통합",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const { 추천, 보류, 수의, 낙찰이력분석, totalCount } = $input.first().json;\nconst today = new Date().toLocaleDateString('ko-KR');\n\nfunction tableRows(items) {\n  if (!items || !items.length) return '<tr><td colspan=\"6\" style=\"padding:12px;text-align:center;color:#999;\">해당 공고 없음</td></tr>';\n  return items.map((it,i) => `<tr style=\"background:${i%2===0?'#fff':'#f9f9f9'}\"><td style=\"padding:8px;border:1px solid #e0e0e0;\">${i+1}</td><td style=\"padding:8px;border:1px solid #e0e0e0;\"><a href=\"${it.상세URL}\" style=\"color:#1a73e8;\">${it.공고명}</a></td><td style=\"padding:8px;border:1px solid #e0e0e0;font-size:12px;\">${it.수요기관}</td><td style=\"padding:8px;border:1px solid #e0e0e0;font-size:12px;\">${it.마감일시}</td><td style=\"padding:8px;border:1px solid #e0e0e0;\">${it.추정가격}</td><td style=\"padding:8px;border:1px solid #e0e0e0;font-size:12px;color:${it.AI추천==='추천'?'#2e7d32':'#666'}\">${it.AI점수?it.AI점수+'점':'-'}${it.AI이유?' / '+it.AI이유:''}</td></tr>`).join('');\n}\n\nconst thead = '<tr style=\"background:#1a73e8;color:#fff;\"><th style=\"padding:8px;\">#</th><th style=\"padding:8px;\">공고명</th><th style=\"padding:8px;\">수요기관</th><th style=\"padding:8px;\">마감</th><th style=\"padding:8px;\">추정가격</th><th style=\"padding:8px;\">AI판단</th></tr>';\n\nconst a = 낙찰이력분석;\nconst analysisBlock = (a && a.샘플수 > 0)\n  ? `<h3 style=\"color:#e65100;\">📊 낙찰가 분석 (샘플 ${a.샘플수}건)</h3><table style=\"border-collapse:collapse;\"><tr><td style=\"padding:6px 16px;\">✅ 안정형</td><td><b>${a.안정형}</b></td></tr><tr><td style=\"padding:6px 16px;\">⚡ 중간형</td><td><b>${a.중간형}</b></td></tr><tr><td style=\"padding:6px 16px;\">🎯 공격형</td><td><b>${a.공격형}</b></td></tr><tr><td style=\"padding:6px 16px;\">낙찰률</td><td>${a.낙찰률평균}</td></tr></table>`\n  : '<p style=\"color:#999;\">낙찰 이력 데이터 부족</p>';\n\nconst suuiAlert = (수의 && 수의.length > 0)\n  ? `<div style=\"background:#e8f5e9;border-left:4px solid #4caf50;padding:12px;margin:16px 0;\"><strong>🤝 수의계약 가능 ${수의.length}건</strong> (2천만원 이하 — 장애인기업 우선 대상)<br/><br/>${수의.map(it=>`• <a href=\"${it.상세URL}\">${it.공고명}</a> (${it.추정가격})`).join('<br/>')}</div>`\n  : '';\n\nconst html = `<div style=\"font-family:Apple SD Gothic Neo,Malgun Gothic,sans-serif;max-width:900px;\"><h2 style=\"color:#1a73e8;\">📋 나라장터 입찰공고 일일 리포트 (${today})</h2><p>전체 <strong>${totalCount}건</strong> | AI 추천 <strong style=\"color:#2e7d32;\">${(추천||[]).length}건</strong> | 보류 <strong style=\"color:#f57c00;\">${(보류||[]).length}건</strong> | 수의계약 <strong style=\"color:#4caf50;\">${(수의||[]).length}건</strong></p>${suuiAlert}<h3 style=\"color:#2e7d32;\">✅ AI 추천 공고</h3><table style=\"border-collapse:collapse;width:100%;font-size:13px;\">${thead}${tableRows(추천)}</table>${analysisBlock}<h3 style=\"color:#f57c00;\">⏳ 보류 공고</h3><table style=\"border-collapse:collapse;width:100%;font-size:13px;\">${thead}${tableRows(보류)}</table><hr style=\"margin-top:24px;\"/><p style=\"font-size:11px;color:#999;\">자동 발송 — (주)미미 나라장터 모니터링 | n8n</p></div>`;\n\nreturn [{ json: { subject: `[나라장터] 추천 ${(추천||[]).length}건 · 수의 ${(수의||[]).length}건 — ${today}`, html } }];"
      },
      "id": "node-email-final",
      "name": "이메일 HTML 완성",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1820,
        0
      ]
    },
    {
      "parameters": {
        "sendTo": "jjk0112@gmail.com",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.html }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "node-gmail",
      "name": "Gmail 발송",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2040,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { message: '매칭 공고 없음 — 발송 생략', timestamp: new Date().toISOString() } }];"
      },
      "id": "node-no-match",
      "name": "공고 없음 (종료)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        200
      ]
    }
  ],
  "connections": {
    "매일 KST 08:00": {
      "main": [
        [
          {
            "node": "검색 조건 설정",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "검색 조건 설정": {
      "main": [
        [
          {
            "node": "용역 공고 조회",
            "type": "main",
            "index": 0
          },
          {
            "node": "물품 공고 조회",
            "type": "main",
            "index": 0
          },
          {
            "node": "공사 공고 조회",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "용역 공고 조회": {
      "main": [
        [
          {
            "node": "병합 및 키워드 필터",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "물품 공고 조회": {
      "main": [
        [
          {
            "node": "병합 및 키워드 필터",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "공사 공고 조회": {
      "main": [
        [
          {
            "node": "병합 및 키워드 필터",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "병합 및 키워드 필터": {
      "main": [
        [
          {
            "node": "매칭 공고 있음?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "매칭 공고 있음?": {
      "main": [
        [
          {
            "node": "수의계약 분류",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "공고 없음 (종료)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "수의계약 분류": {
      "main": [
        [
          {
            "node": "AI 프롬프트 준비",
            "type": "main",
            "index": 0
          },
          {
            "node": "낙찰 이력 조회",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI 프롬프트 준비": {
      "main": [
        [
          {
            "node": "Claude AI 호출",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude AI 호출": {
      "main": [
        [
          {
            "node": "결과 통합",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "결과 통합": {
      "main": [
        [
          {
            "node": "이메일 HTML 완성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "이메일 HTML 완성": {
      "main": [
        [
          {
            "node": "Gmail 발송",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "낙찰 이력 조회": {
      "main": [
        [
          {
            "node": "낙찰가 분析",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "낙찰가 분析": {
      "main": [
        [
          {
            "node": "결과 통합",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "pinData": {}
}