n8n_blog_workflow.json
{
  "name": "블로그 AI 편집국 시스템 v1",
  "nodes": [
    {
      "id": "node_01",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [160, 500],
      "parameters": {}
    },
    {
      "id": "node_02",
      "name": "Set Init Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [400, 500],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfg_01",
              "name": "run_id",
              "value": "={{ $now.format('yyyyMMdd-HHmmss') }}",
              "type": "string"
            },
            {
              "id": "cfg_02",
              "name": "blog_channel",
              "value": "네이버블로그",
              "type": "string"
            },
            {
              "id": "cfg_03",
              "name": "target_audience",
              "value": "1인사업자/소상공인",
              "type": "string"
            },
            {
              "id": "cfg_04",
              "name": "brand_id",
              "value": "mimi_blog",
              "type": "string"
            },
            {
              "id": "cfg_05",
              "name": "score_threshold",
              "value": 65,
              "type": "number"
            },
            {
              "id": "cfg_06",
              "name": "publish_mode",
              "value": "approval_required",
              "type": "string"
            },
            {
              "id": "cfg_07",
              "name": "approver_email",
              "value": "여기에_승인자_이메일_입력@gmail.com",
              "type": "string"
            },
            {
              "id": "cfg_08",
              "name": "claude_model",
              "value": "claude-sonnet-4-6",
              "type": "string"
            },
            {
              "id": "cfg_09",
              "name": "sheets_id",
              "value": "여기에_구글시트_ID_입력",
              "type": "string"
            },
            {
              "id": "cfg_10",
              "name": "topic_sheet_name",
              "value": "주제큐",
              "type": "string"
            },
            {
              "id": "cfg_11",
              "name": "published_sheet_name",
              "value": "발행로그",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "node_03",
      "name": "Google Sheets - 주제 큐 읽기",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [640, 500],
      "parameters": {
        "operation": "getAll",
        "documentId": "={{ $json.sheets_id }}",
        "sheetName": "={{ $json.topic_sheet_name }}",
        "filters": {
          "conditions": [
            {
              "keyName": "status",
              "condition": "equals",
              "keyValue": "pending"
            }
          ]
        },
        "options": {
          "returnAllMatches": true
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1",
          "name": "Google Sheets 계정"
        }
      }
    },
    {
      "id": "node_04",
      "name": "IF - 주제 있음?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [880, 500],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "if_queue",
              "leftValue": "={{ $items().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "node_05",
      "name": "주제 없음 - 종료",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [1120, 700],
      "parameters": {
        "errorMessage": "처리할 주제가 없습니다. 주제 큐 시트에 pending 항목을 추가하세요."
      }
    },
    {
      "id": "node_06",
      "name": "Code - 주제 정규화",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 400],
      "parameters": {
        "jsCode": "// 첫 번째 pending 주제를 가져와 정규화\nconst topics = $input.all();\nconst topic = topics[0].json;\n\n// 슬러그 생성 (한글 키워드를 URL 친화적으로)\nconst keyword = topic.keyword || '';\nconst slug = keyword\n  .trim()\n  .toLowerCase()\n  .replace(/\\s+/g, '-')\n  .replace(/[^a-z0-9가-힣-]/g, '');\n\n// topic_id 생성\nconst today = new Date();\nconst dateStr = today.toISOString().slice(0, 10).replace(/-/g, '');\nconst topicId = topic.topic_id || `${dateStr}-${Math.random().toString(36).substr(2, 6)}`;\n\n// 검색 의도 분류 기본값\nconst intentMap = {\n  '방법': 'how-to',\n  '추천': 'comparison',\n  '가격': 'commercial',\n  '후기': 'review',\n  '뜻': 'informational',\n  '이란': 'informational'\n};\n\nlet inferredIntent = 'informational';\nfor (const [key, value] of Object.entries(intentMap)) {\n  if (keyword.includes(key)) {\n    inferredIntent = value;\n    break;\n  }\n}\n\nreturn [{\n  json: {\n    ...topic,\n    topic_id: topicId,\n    normalized_keyword: keyword.trim(),\n    slug: slug,\n    inferred_intent: topic.intent || inferredIntent,\n    article_brief: `키워드: ${keyword} / 독자: ${topic.audience || '1인사업자'} / 각도: ${topic.angle || '실무형 가이드'}`,\n    row_index: topic.row_number || 2\n  }\n}];"
      }
    },
    {
      "id": "node_07",
      "name": "Google Sheets - 중복 체크",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [1360, 400],
      "parameters": {
        "operation": "getAll",
        "documentId": "={{ $('Set Init Config').item.json.sheets_id }}",
        "sheetName": "={{ $('Set Init Config').item.json.published_sheet_name }}",
        "filters": {
          "conditions": [
            {
              "keyName": "keyword",
              "condition": "equals",
              "keyValue": "={{ $json.normalized_keyword }}"
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1",
          "name": "Google Sheets 계정"
        }
      }
    },
    {
      "id": "node_08",
      "name": "IF - 중복?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1600, 400],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "if_dup",
              "leftValue": "={{ $items().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "node_09",
      "name": "중복 주제 - Angle 재기획 알림",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1840, 260],
      "parameters": {
        "operation": "send",
        "sendTo": "={{ $('Set Init Config').item.json.approver_email }}",
        "subject": "[블로그봇] 중복 주제 감지 - Angle 재검토 필요",
        "message": "<h3>중복 주제 감지</h3><p><b>키워드:</b> {{ $('Code - 주제 정규화').item.json.normalized_keyword }}</p><p>동일 키워드로 발행된 글이 이미 존재합니다.</p><p>주제 큐 시트에서 angle(각도)을 수정 후 status를 다시 pending으로 변경해주세요.</p>",
        "options": {
          "ccList": "",
          "appendAttribution": false
        }
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "2",
          "name": "Gmail 계정"
        }
      }
    },
    {
      "id": "node_10",
      "name": "HTTP Request - 네이버 데이터랩",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1840, 500],
      "parameters": {
        "method": "POST",
        "url": "https://openapi.naver.com/v1/datalab/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Naver-Client-Id",
              "value": "={{ $credentials['naverApi'].clientId }}"
            },
            {
              "name": "X-Naver-Client-Secret",
              "value": "={{ $credentials['naverApi'].clientSecret }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "startDate": "={{ $now.minus({months: 3}).format('yyyy-MM-dd') }}",
          "endDate": "={{ $now.format('yyyy-MM-dd') }}",
          "timeUnit": "week",
          "keywordGroups": [
            {
              "groupName": "={{ $('Code - 주제 정규화').item.json.normalized_keyword }}",
              "keywords": ["={{ $('Code - 주제 정규화').item.json.normalized_keyword }}"]
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      }
    },
    {
      "id": "node_11",
      "name": "HTTP Request - Google Search Console",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2080, 500],
      "parameters": {
        "method": "POST",
        "url": "https://searchconsole.googleapis.com/webmasters/v3/sites/여기에_사이트URL_입력/searchAnalytics/query",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSearchConsoleOAuth2Api",
        "sendBody": true,
        "contentType": "json",
        "body": {
          "startDate": "={{ $now.minus({months: 1}).format('yyyy-MM-dd') }}",
          "endDate": "={{ $now.format('yyyy-MM-dd') }}",
          "dimensions": ["query"],
          "dimensionFilterGroups": [
            {
              "filters": [
                {
                  "dimension": "query",
                  "operator": "contains",
                  "expression": "={{ $('Code - 주제 정규화').item.json.normalized_keyword }}"
                }
              ]
            }
          ],
          "rowLimit": 10
        },
        "options": {
          "timeout": 10000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "credentials": {
        "googleSearchConsoleOAuth2Api": {
          "id": "3",
          "name": "Search Console 계정"
        }
      }
    },
    {
      "id": "node_12",
      "name": "Code - 수요 점수 계산 (100점)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2320, 500],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// 수요 점수 계산 (100점 만점)\n// 보고서 기준: 65점 미만 폐기\n\nconst topicData = $('Code - 주제 정규화').item.json;\n\n// 네이버 데이터랩 결과 파싱\nlet naverScore = 0;\ntry {\n  const naverData = $('HTTP Request - 네이버 데이터랩').item.json;\n  if (naverData.results && naverData.results[0]) {\n    const series = naverData.results[0].data || [];\n    if (series.length >= 2) {\n      const recentAvg = series.slice(-4).reduce((a, b) => a + b.ratio, 0) / 4;\n      const prevAvg = series.slice(-8, -4).reduce((a, b) => a + b.ratio, 0) / 4;\n      // 상승 추이 계산\n      if (prevAvg > 0) {\n        const trendRatio = recentAvg / prevAvg;\n        if (trendRatio >= 1.5) naverScore = 25;      // 50% 이상 상승\n        else if (trendRatio >= 1.2) naverScore = 20; // 20% 이상 상승\n        else if (trendRatio >= 1.0) naverScore = 15; // 유지\n        else if (trendRatio >= 0.8) naverScore = 8;  // 소폭 하락\n        else naverScore = 3;                          // 급락\n      } else {\n        naverScore = recentAvg > 50 ? 20 : recentAvg > 20 ? 12 : 5;\n      }\n    }\n  }\n} catch(e) {\n  naverScore = 10; // API 오류시 중립값\n}\n\n// Search Console 결과 파싱\nlet searchConsoleScore = 0;\nlet ctrScore = 0;\nlet questionScore = 0;\ntry {\n  const scData = $('HTTP Request - Google Search Console').item.json;\n  if (scData.rows && scData.rows.length > 0) {\n    const totalImpressions = scData.rows.reduce((a, b) => a + (b.impressions || 0), 0);\n    const avgCtr = scData.rows.reduce((a, b) => a + (b.ctr || 0), 0) / scData.rows.length;\n    const avgPosition = scData.rows.reduce((a, b) => a + (b.position || 10), 0) / scData.rows.length;\n    \n    // 노출량 점수 (최대 20점)\n    if (totalImpressions >= 10000) searchConsoleScore = 20;\n    else if (totalImpressions >= 5000) searchConsoleScore = 16;\n    else if (totalImpressions >= 1000) searchConsoleScore = 12;\n    else if (totalImpressions >= 100) searchConsoleScore = 7;\n    else searchConsoleScore = 3;\n    \n    // CTR 개선 가능성 (최대 15점) - CTR이 낮고 순위가 높으면 개선 여지 있음\n    if (avgCtr < 0.02 && avgPosition <= 10) ctrScore = 15; // CTR 낮고 1페이지 = 큰 기회\n    else if (avgCtr < 0.05 && avgPosition <= 20) ctrScore = 10;\n    else if (avgCtr >= 0.1) ctrScore = 5; // 이미 잘 되고 있음\n    else ctrScore = 8;\n    \n    // 질문형 쿼리 여부 (최대 15점)\n    const questionWords = ['어떻게', '방법', '뜻', '이란', '추천', '비교', '가격', '후기', '장단점'];\n    const hasQuestion = scData.rows.some(row => \n      questionWords.some(qw => (row.keys?.[0] || '').includes(qw))\n    );\n    questionScore = hasQuestion ? 15 : 5;\n  } else {\n    // Search Console 데이터 없음 = 새 키워드 기회\n    searchConsoleScore = 8;\n    ctrScore = 12; // 미발행 = 기회\n    questionScore = 10;\n  }\n} catch(e) {\n  searchConsoleScore = 8;\n  ctrScore = 10;\n  questionScore = 8;\n}\n\n// 전환 가능성 점수 (최대 15점) - keyword에 전환 의도 단어가 있으면 높은 점수\nconst conversionWords = ['추천', '구매', '비교', '가격', '상담', '신청', '등록', '예약', '구독', '방법', '사용법'];\nconst keyword = topicData.normalized_keyword || '';\nconst hasConversion = conversionWords.some(w => keyword.includes(w));\nconst conversionScore = hasConversion ? 15 : 8;\n\n// 기존 글 부족도 (최대 10점) - 스프레드시트에서 이미 확인했으므로 기본값\nconst gapScore = 10; // 중복 체크 통과했으므로 기존 글 없음 = 만점\n\n// 총점 계산\nconst totalScore = naverScore + searchConsoleScore + ctrScore + questionScore + conversionScore + gapScore;\n\n// 판정\nlet priority, action;\nif (totalScore >= 80) {\n  priority = 'immediate';\n  action = '바로 작성';\n} else if (totalScore >= 65) {\n  priority = 'outline_candidate';\n  action = '아웃라인 후보';\n} else if (totalScore >= 50) {\n  priority = 'hold';\n  action = '보류';\n} else {\n  priority = 'reject';\n  action = '폐기';\n}\n\nreturn [{\n  json: {\n    ...topicData,\n    demand_score: totalScore,\n    score_breakdown: {\n      naver_trend_25: naverScore,\n      search_console_impressions_20: searchConsoleScore,\n      ctr_improvement_15: ctrScore,\n      question_intent_15: questionScore,\n      conversion_potential_15: conversionScore,\n      content_gap_10: gapScore\n    },\n    priority: priority,\n    action: action,\n    pass_threshold: totalScore >= 65\n  }\n}];"
      }
    },
    {
      "id": "node_13",
      "name": "IF - 점수 65점 이상?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2560, 500],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "if_score",
              "leftValue": "={{ $json.demand_score }}",
              "rightValue": 65,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "node_14",
      "name": "Google Sheets - 저점수 로그",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [2800, 680],
      "parameters": {
        "operation": "append",
        "documentId": "={{ $('Set Init Config').item.json.sheets_id }}",
        "sheetName": "저점수로그",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "topic_id": "={{ $json.topic_id }}",
            "keyword": "={{ $json.normalized_keyword }}",
            "demand_score": "={{ $json.demand_score }}",
            "action": "={{ $json.action }}",
            "score_detail": "={{ JSON.stringify($json.score_breakdown) }}",
            "logged_at": "={{ $now.toISO() }}"
          }
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1",
          "name": "Google Sheets 계정"
        }
      }
    },
    {
      "id": "node_15",
      "name": "HTTP Request - Claude 리서치",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2800, 380],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $credentials.anthropicApiKey }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "model": "={{ $('Set Init Config').item.json.claude_model }}",
          "max_tokens": 2000,
          "system": "당신은 블로그 콘텐츠 리서처입니다. 주어진 키워드와 독자 정보를 바탕으로 블로그 글 작성을 위한 자료 조사를 수행합니다. 반드시 순수 JSON만 출력하세요. 마크다운 코드블록(```)을 절대 사용하지 마세요. JSON 외 다른 텍스트를 포함하지 마세요.",
          "messages": [
            {
              "role": "user",
              "content": "아래 정보를 바탕으로 블로그 글 리서치를 수행하고 JSON으로만 응답하세요.\n\n핵심 키워드: {{ $json.normalized_keyword }}\n수요 점수: {{ $json.demand_score }}점\n검색 의도: {{ $json.inferred_intent }}\n독자: {{ $('Set Init Config').item.json.target_audience }}\n글 각도: {{ $json.angle || '실무형 가이드' }}\n\n출력 형식 (이 JSON 구조 그대로만 출력):\n{\n  \"keyword\": \"키워드\",\n  \"search_intent\": \"정보형|구매형|비교형|지역형|how-to|review 중 하나\",\n  \"audience\": \"독자 설명\",\n  \"pain_points\": [\"독자의 핵심 고충 1\", \"고충 2\", \"고충 3\"],\n  \"common_questions\": [\"실제로 많이 검색하는 질문 1\", \"질문 2\", \"질문 3\", \"질문 4\", \"질문 5\"],\n  \"must_include_points\": [\"반드시 포함해야 할 내용 1\", \"내용 2\", \"내용 3\"],\n  \"supporting_examples\": [\"구체적 예시나 사례 1\", \"사례 2\"],\n  \"competitive_angle\": \"이 글이 다른 글보다 우월한 차별화 포인트\",\n  \"risk_notes\": [],\n  \"risk_level\": \"low\"\n}"
            }
          ]
        },
        "options": {
          "timeout": 60000,
          "response": {
            "response": {
              "neverError": false
            }
          }
        }
      }
    },
    {
      "id": "node_16",
      "name": "Code - 리서치 JSON 파싱",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3040, 380],
      "parameters": {
        "jsCode": "const item = $input.item.json;\n\n// Claude API 응답에서 텍스트 추출\nlet researchText = '';\ntry {\n  researchText = item.content[0].text;\n} catch(e) {\n  throw new Error('Claude API 응답 형식 오류: ' + JSON.stringify(item));\n}\n\n// JSON 파싱 (코드블록 제거 후)\nlet research;\ntry {\n  // 마크다운 코드블록 제거\n  const cleaned = researchText\n    .replace(/```json\\n?/g, '')\n    .replace(/```\\n?/g, '')\n    .trim();\n  research = JSON.parse(cleaned);\n} catch(e) {\n  // JSON 추출 시도\n  const jsonMatch = researchText.match(/\\{[\\s\\S]+\\}/);\n  if (jsonMatch) {\n    research = JSON.parse(jsonMatch[0]);\n  } else {\n    throw new Error('리서치 JSON 파싱 실패. 원문: ' + researchText.substring(0, 200));\n  }\n}\n\n// 이전 스텝 데이터와 합치기\nconst topicData = $('Code - 수요 점수 계산 (100점)').item.json;\n\nreturn [{\n  json: {\n    ...topicData,\n    research: research,\n    research_summary: [\n      `검색의도: ${research.search_intent}`,\n      `핵심고충: ${research.pain_points?.slice(0,2).join(', ')}`,\n      `차별화: ${research.competitive_angle}`\n    ].join(' | ')\n  }\n}];"
      }
    },
    {
      "id": "node_17",
      "name": "HTTP Request - Claude 아웃라인",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3280, 380],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $credentials.anthropicApiKey }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "model": "={{ $('Set Init Config').item.json.claude_model }}",
          "max_tokens": 2000,
          "system": "당신은 SEO 블로그 아웃라이너입니다. answer-first 구조로 검색 의도에 맞는 목차를 설계합니다. 반드시 순수 JSON만 출력하세요. 마크다운 코드블록(```)을 절대 사용하지 마세요.",
          "messages": [
            {
              "role": "user",
              "content": "아래 리서치 데이터를 바탕으로 answer-first 블로그 아웃라인을 JSON으로만 작성하세요.\n\n키워드: {{ $json.normalized_keyword }}\n검색 의도: {{ $json.research.search_intent }}\n독자: {{ $json.research.audience }}\n핵심 고충: {{ $json.research.pain_points.join(', ') }}\n자주 묻는 질문: {{ $json.research.common_questions.join(', ') }}\n차별화 포인트: {{ $json.research.competitive_angle }}\n\n규칙:\n1. 첫 섹션은 반드시 질문에 직접 답하는 내용\n2. FAQ 3-5개 포함\n3. CTA(다음 행동 유도) 포함\n4. 총 1200-2000자 분량\n\n출력 형식 (이 JSON 구조 그대로만):\n{\n  \"title_options\": [\"제목안 1 (숫자형)\", \"제목안 2 (how-to형)\", \"제목안 3 (질문형)\"],\n  \"recommended_title\": \"최종 추천 제목\",\n  \"seo_angle\": \"SEO 관점 설명\",\n  \"outline\": [\n    {\"section\": 1, \"heading\": \"서론: 핵심 답변\", \"content_brief\": \"첫 2-3문장에 직접 답변 포함\", \"estimated_chars\": 300},\n    {\"section\": 2, \"heading\": \"소제목\", \"content_brief\": \"내용 요약\", \"estimated_chars\": 400}\n  ],\n  \"faq\": [\"질문 1?\", \"질문 2?\", \"질문 3?\"],\n  \"cta\": \"마지막 행동 유도 문구\",\n  \"estimated_total_chars\": 1500\n}"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      }
    },
    {
      "id": "node_18",
      "name": "Code - 아웃라인 JSON 파싱",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3520, 380],
      "parameters": {
        "jsCode": "const item = $input.item.json;\n\nlet outlineText = '';\ntry {\n  outlineText = item.content[0].text;\n} catch(e) {\n  throw new Error('Claude 아웃라인 응답 오류: ' + JSON.stringify(item));\n}\n\nlet outline;\ntry {\n  const cleaned = outlineText\n    .replace(/```json\\n?/g, '')\n    .replace(/```\\n?/g, '')\n    .trim();\n  outline = JSON.parse(cleaned);\n} catch(e) {\n  const jsonMatch = outlineText.match(/\\{[\\s\\S]+\\}/);\n  if (jsonMatch) {\n    outline = JSON.parse(jsonMatch[0]);\n  } else {\n    throw new Error('아웃라인 JSON 파싱 실패. 원문: ' + outlineText.substring(0, 200));\n  }\n}\n\nconst prevData = $('Code - 리서치 JSON 파싱').item.json;\n\n// 승인 이메일용 HTML 카드 생성\nconst titleOptions = outline.title_options?.map((t, i) => `<li>안 ${i+1}: ${t}</li>`).join('') || '';\nconst outlineSections = outline.outline?.map(s => `<li><b>${s.heading}</b> (${s.estimated_chars}자): ${s.content_brief}</li>`).join('') || '';\nconst faqItems = outline.faq?.map(f => `<li>${f}</li>`).join('') || '';\n\nconst approvalCard = `\n<h2>📝 아웃라인 승인 요청</h2>\n<p><b>키워드:</b> ${prevData.normalized_keyword}</p>\n<p><b>수요 점수:</b> ${prevData.demand_score}점 (${prevData.priority})</p>\n<hr>\n<h3>추천 제목</h3>\n<p><b>${outline.recommended_title}</b></p>\n<h3>제목 후보</h3><ul>${titleOptions}</ul>\n<h3>목차</h3><ul>${outlineSections}</ul>\n<h3>FAQ 예정</h3><ul>${faqItems}</ul>\n<p><b>CTA:</b> ${outline.cta}</p>\n<p><b>예상 분량:</b> ${outline.estimated_total_chars}자</p>\n`;\n\nreturn [{\n  json: {\n    ...prevData,\n    outline: outline,\n    approval_card_html: approvalCard\n  }\n}];"
      }
    },
    {
      "id": "node_19",
      "name": "Gmail - 아웃라인 승인 요청",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [3760, 380],
      "parameters": {
        "operation": "send",
        "sendTo": "={{ $('Set Init Config').item.json.approver_email }}",
        "subject": "={{ '[블로그봇] 아웃라인 승인 요청: ' + $json.outline.recommended_title }}",
        "message": "={{ $json.approval_card_html }}\n\n<hr>\n<h3>승인/거절 버튼</h3>\n<p>\n  <a href=\"{{ $execution.resumeUrl }}?approved=true\" style=\"background:#4CAF50;color:white;padding:12px 24px;text-decoration:none;border-radius:4px;margin-right:10px;\">✅ 아웃라인 승인</a>\n  <a href=\"{{ $execution.resumeUrl }}?approved=false\" style=\"background:#f44336;color:white;padding:12px 24px;text-decoration:none;border-radius:4px;\">❌ 아웃라인 거절</a>\n</p>\n<p><small>이 링크는 48시간 동안 유효합니다.</small></p>",
        "options": {
          "appendAttribution": false
        }
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "2",
          "name": "Gmail 계정"
        }
      }
    },
    {
      "id": "node_20",
      "name": "Wait - 아웃라인 승인 대기",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [4000, 380],
      "parameters": {
        "resume": "webhook",
        "options": {
          "webhookSuffix": "outline-approval"
        }
      },
      "webhookId": "outline-approval-webhook"
    },
    {
      "id": "node_21",
      "name": "IF - 아웃라인 승인?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [4240, 380],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "if_outline_approved",
              "leftValue": "={{ $json.query?.approved || $json.body?.approved }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "node_22",
      "name": "아웃라인 거절 - 큐 상태 업데이트",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [4480, 560],
      "parameters": {
        "operation": "update",
        "documentId": "={{ $('Set Init Config').item.json.sheets_id }}",
        "sheetName": "={{ $('Set Init Config').item.json.topic_sheet_name }}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "outline_rejected",
            "memo": "아웃라인 승인 거절됨. 재기획 필요"
          }
        },
        "where": {
          "values": [
            {
              "lookupColumn": "topic_id",
              "lookupValue": "={{ $('Code - 아웃라인 JSON 파싱').item.json.topic_id }}"
            }
          ]
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1",
          "name": "Google Sheets 계정"
        }
      }
    },
    {
      "id": "node_23",
      "name": "HTTP Request - Claude 초안 작성",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [4480, 280],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $credentials.anthropicApiKey }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "model": "={{ $('Set Init Config').item.json.claude_model }}",
          "max_tokens": 4000,
          "system": "당신은 한국형 블로그 전문 작가입니다. 실무 중심, 과장 없이, answer-first 구조로 블로그 초안을 작성합니다. 반드시 순수 JSON만 출력하세요. 마크다운 코드블록(```)을 절대 사용하지 마세요.",
          "messages": [
            {
              "role": "user",
              "content": "아래 아웃라인을 바탕으로 블로그 초안을 JSON으로만 작성하세요.\n\n키워드: {{ $('Code - 아웃라인 JSON 파싱').item.json.normalized_keyword }}\n최종 제목: {{ $('Code - 아웃라인 JSON 파싱').item.json.outline.recommended_title }}\n독자: {{ $('Code - 아웃라인 JSON 파싱').item.json.research.audience }}\n핵심 고충: {{ $('Code - 아웃라인 JSON 파싱').item.json.research.pain_points.join(', ') }}\n\n아웃라인:\n{{ JSON.stringify($('Code - 아웃라인 JSON 파싱').item.json.outline.outline, null, 2) }}\n\nFAQ: {{ $('Code - 아웃라인 JSON 파싱').item.json.outline.faq.join(', ') }}\nCTA: {{ $('Code - 아웃라인 JSON 파싱').item.json.outline.cta }}\n\n작성 규칙:\n1. 첫 2-3문장에 질문에 직접 답하는 내용 포함\n2. 소제목(H2, H3) 사용\n3. FAQ 섹션 반드시 포함\n4. 과장 표현(최고, 완벽, 무조건 등) 금지\n5. 근거 없는 수치 사용 금지\n6. 마크다운 형식으로 본문 작성\n\n출력 형식 (이 JSON 구조 그대로만):\n{\n  \"title\": \"최종 제목\",\n  \"content_md\": \"## 서론\\n\\n직접 답변 내용...\\n\\n## 소제목\\n\\n본문...\\n\\n## FAQ\\n\\n**Q: 질문?**\\nA: 답변\",\n  \"word_count\": 1500,\n  \"sections_count\": 5,\n  \"has_faq\": true,\n  \"has_cta\": true\n}"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      }
    },
    {
      "id": "node_24",
      "name": "Code - 초안 파싱",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4720, 280],
      "parameters": {
        "jsCode": "const item = $input.item.json;\n\nlet draftText = '';\ntry {\n  draftText = item.content[0].text;\n} catch(e) {\n  throw new Error('Claude 초안 응답 오류: ' + JSON.stringify(item));\n}\n\nlet draft;\ntry {\n  const cleaned = draftText\n    .replace(/```json\\n?/g, '')\n    .replace(/```\\n?/g, '')\n    .trim();\n  draft = JSON.parse(cleaned);\n} catch(e) {\n  const jsonMatch = draftText.match(/\\{[\\s\\S]+\\}/);\n  if (jsonMatch) {\n    draft = JSON.parse(jsonMatch[0]);\n  } else {\n    throw new Error('초안 JSON 파싱 실패.');\n  }\n}\n\nconst prevData = $('Code - 아웃라인 JSON 파싱').item.json;\n\nreturn [{\n  json: {\n    ...prevData,\n    draft: draft,\n    draft_md: draft.content_md,\n    draft_title: draft.title\n  }\n}];"
      }
    },
    {
      "id": "node_25",
      "name": "HTTP Request - Claude 4중 QA 검수",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [4960, 280],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $credentials.anthropicApiKey }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "model": "={{ $('Set Init Config').item.json.claude_model }}",
          "max_tokens": 2000,
          "system": "당신은 블로그 콘텐츠 품질 검수 담당자입니다. 4중 검수(사실/SEO/전환/중복)를 수행합니다. 반드시 순수 JSON만 출력하세요. 마크다운 코드블록(```)을 절대 사용하지 마세요.",
          "messages": [
            {
              "role": "user",
              "content": "아래 블로그 초안에 대해 4중 검수를 수행하고 JSON으로만 응답하세요.\n\n제목: {{ $json.draft_title }}\n키워드: {{ $json.normalized_keyword }}\n\n본문:\n{{ $json.draft_md.substring(0, 3000) }}\n\n검수 기준:\n[사실 검수] 근거 없는 단정, 허위 수치, 과장 표현 확인\n[SEO 검수] 키워드 포함, FAQ 존재, 소제목 구조, 메타 적합성\n[전환 검수] CTA 존재, 구체적 다음 행동 안내 여부\n[중복 검수] 반복 문장, 동일 표현 과다 사용 여부\n\n특이사항: 건강, 법률, 금융 관련 내용이 있으면 risk_level을 high로 설정하고 자동발행 금지 플래그를 추가하세요.\n\n출력 형식 (이 JSON 구조 그대로만):\n{\n  \"fact_check\": {\"passed\": true, \"issues\": [], \"unverified_claims\": []},\n  \"seo_check\": {\"passed\": true, \"issues\": [], \"keyword_density_ok\": true, \"has_faq\": true, \"heading_structure_ok\": true},\n  \"conversion_check\": {\"passed\": true, \"issues\": [], \"has_cta\": true, \"cta_clarity\": \"명확\"},\n  \"duplicate_check\": {\"passed\": true, \"issues\": [], \"repetition_score\": 5},\n  \"overall_passed\": true,\n  \"risk_level\": \"low\",\n  \"auto_publish_blocked\": false,\n  \"revision_required\": false,\n  \"revision_items\": [],\n  \"quality_score\": 85,\n  \"reviewer_summary\": \"전체 검수 요약\"\n}"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      }
    },
    {
      "id": "node_26",
      "name": "Code - QA 이슈 추출",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5200, 280],
      "parameters": {
        "jsCode": "const item = $input.item.json;\n\nlet qaText = '';\ntry {\n  qaText = item.content[0].text;\n} catch(e) {\n  throw new Error('Claude QA 응답 오류: ' + JSON.stringify(item));\n}\n\nlet qaReport;\ntry {\n  const cleaned = qaText\n    .replace(/```json\\n?/g, '')\n    .replace(/```\\n?/g, '')\n    .trim();\n  qaReport = JSON.parse(cleaned);\n} catch(e) {\n  const jsonMatch = qaText.match(/\\{[\\s\\S]+\\}/);\n  if (jsonMatch) {\n    qaReport = JSON.parse(jsonMatch[0]);\n  } else {\n    throw new Error('QA JSON 파싱 실패.');\n  }\n}\n\nconst prevData = $('Code - 초안 파싱').item.json;\n\n// 이슈 심각도 분류\nconst allIssues = [\n  ...(qaReport.fact_check?.issues || []),\n  ...(qaReport.seo_check?.issues || []),\n  ...(qaReport.conversion_check?.issues || []),\n  ...(qaReport.duplicate_check?.issues || [])\n];\n\n// 고위험 자동발행 차단\nif (qaReport.risk_level === 'high' || qaReport.auto_publish_blocked) {\n  qaReport.revision_required = true;\n}\n\nreturn [{\n  json: {\n    ...prevData,\n    qa_report: qaReport,\n    all_issues: allIssues,\n    revision_required: qaReport.revision_required || false,\n    quality_score: qaReport.quality_score || 70,\n    risk_level: qaReport.risk_level || 'low',\n    auto_publish_blocked: qaReport.auto_publish_blocked || false\n  }\n}];"
      }
    },
    {
      "id": "node_27",
      "name": "IF - 수정 필요?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [5440, 280],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "if_revision",
              "leftValue": "={{ $json.revision_required }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "node_28",
      "name": "HTTP Request - Claude 수정 재작성",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [5680, 180],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $credentials.anthropicApiKey }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "model": "={{ $('Set Init Config').item.json.claude_model }}",
          "max_tokens": 4000,
          "system": "당신은 블로그 편집자입니다. 검수 리포트를 바탕으로 초안을 수정합니다. 반드시 순수 JSON만 출력하세요. 마크다운 코드블록(```)을 절대 사용하지 마세요.",
          "messages": [
            {
              "role": "user",
              "content": "아래 검수 이슈를 반영해 블로그 초안을 수정하고 JSON으로만 응답하세요.\n\n수정 항목:\n{{ $json.all_issues.join('\\n- ') }}\n\nQA 리포트 요약: {{ $json.qa_report.reviewer_summary }}\n\n원본 초안:\n{{ $json.draft_md.substring(0, 3000) }}\n\n출력 형식 (이 JSON 구조 그대로만):\n{\n  \"title\": \"수정된 제목\",\n  \"content_md\": \"수정된 마크다운 본문\",\n  \"changes_made\": [\"변경 사항 1\", \"변경 사항 2\"],\n  \"word_count\": 1500\n}"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      }
    },
    {
      "id": "node_29",
      "name": "Code - 수정본 파싱",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5920, 180],
      "parameters": {
        "jsCode": "const item = $input.item.json;\n\nlet reviseText = '';\ntry {\n  reviseText = item.content[0].text;\n} catch(e) {\n  throw new Error('Claude 수정 응답 오류');\n}\n\nlet revised;\ntry {\n  const cleaned = reviseText\n    .replace(/```json\\n?/g, '')\n    .replace(/```\\n?/g, '')\n    .trim();\n  revised = JSON.parse(cleaned);\n} catch(e) {\n  const jsonMatch = reviseText.match(/\\{[\\s\\S]+\\}/);\n  if (jsonMatch) {\n    revised = JSON.parse(jsonMatch[0]);\n  } else {\n    throw new Error('수정본 JSON 파싱 실패.');\n  }\n}\n\nconst prevData = $('Code - QA 이슈 추출').item.json;\n\nreturn [{\n  json: {\n    ...prevData,\n    final_md: revised.content_md,\n    final_title: revised.title,\n    changes_made: revised.changes_made,\n    is_revised: true\n  }\n}];"
      }
    },
    {
      "id": "node_30",
      "name": "Code - 최종본 설정 (수정 없음)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5680, 380],
      "parameters": {
        "jsCode": "const item = $input.item.json;\n\nreturn [{\n  json: {\n    ...item,\n    final_md: item.draft_md,\n    final_title: item.draft_title,\n    changes_made: [],\n    is_revised: false\n  }\n}];"
      }
    },
    {
      "id": "node_31",
      "name": "Merge - 최종본 합치기",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [6160, 280],
      "parameters": {
        "mode": "passThrough",
        "output": "input1"
      }
    },
    {
      "id": "node_32",
      "name": "HTTP Request - Claude 발행 패키지",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [6400, 280],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $credentials.anthropicApiKey }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "model": "={{ $('Set Init Config').item.json.claude_model }}",
          "max_tokens": 1500,
          "system": "당신은 블로그 발행 패키지 전문가입니다. 최종 본문을 바탕으로 발행에 필요한 모든 자산을 생성합니다. 반드시 순수 JSON만 출력하세요. 마크다운 코드블록(```)을 절대 사용하지 마세요.",
          "messages": [
            {
              "role": "user",
              "content": "아래 블로그 최종본을 바탕으로 발행 패키지를 JSON으로만 생성하세요.\n\n제목: {{ $json.final_title }}\n키워드: {{ $json.normalized_keyword }}\n독자: {{ $json.research.audience }}\n\n본문 요약:\n{{ $json.final_md.substring(0, 1000) }}...\n\n출력 형식 (이 JSON 구조 그대로만):\n{\n  \"meta_title\": \"SEO 제목 (60자 이내, 키워드 포함)\",\n  \"meta_desc\": \"메타 설명 (160자 이내, 핵심 가치 포함)\",\n  \"tags\": [\"태그1\", \"태그2\", \"태그3\", \"태그4\", \"태그5\"],\n  \"sns_summary\": \"SNS 공유용 요약 (280자 이내)\",\n  \"instagram_caption\": \"인스타그램 캡션 (해시태그 5개 포함)\",\n  \"kakao_notice\": \"카카오 채널 공지 (2-3줄)\",\n  \"thumbnail_copy\": \"썸네일에 들어갈 카피 문구 (20자 이내)\",\n  \"internal_link_suggestions\": [\"연결하면 좋을 내부 링크 주제 1\", \"주제 2\"]\n}"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      }
    },
    {
      "id": "node_33",
      "name": "Code - 발행 패키지 파싱",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [6640, 280],
      "parameters": {
        "jsCode": "const item = $input.item.json;\n\nlet packText = '';\ntry {\n  packText = item.content[0].text;\n} catch(e) {\n  throw new Error('Claude 발행 패키지 응답 오류');\n}\n\nlet publishPack;\ntry {\n  const cleaned = packText\n    .replace(/```json\\n?/g, '')\n    .replace(/```\\n?/g, '')\n    .trim();\n  publishPack = JSON.parse(cleaned);\n} catch(e) {\n  const jsonMatch = packText.match(/\\{[\\s\\S]+\\}/);\n  if (jsonMatch) {\n    publishPack = JSON.parse(jsonMatch[0]);\n  } else {\n    throw new Error('발행 패키지 JSON 파싱 실패.');\n  }\n}\n\nconst prevData = $('Merge - 최종본 합치기').item.json;\n\n// 최종 승인 이메일용 카드 생성\nconst finalCard = `\n<h2>🚀 최종 발행 승인 요청</h2>\n<p><b>키워드:</b> ${prevData.normalized_keyword} (수요점수: ${prevData.demand_score}점)</p>\n<p><b>제목:</b> ${prevData.final_title}</p>\n<p><b>SEO 제목:</b> ${publishPack.meta_title}</p>\n<p><b>메타 설명:</b> ${publishPack.meta_desc}</p>\n<p><b>태그:</b> ${publishPack.tags?.join(', ')}</p>\n<p><b>QA 점수:</b> ${prevData.quality_score}점 / 리스크: ${prevData.risk_level}</p>\n<hr>\n<h3>본문 미리보기 (상위 500자)</h3>\n<p>${prevData.final_md.substring(0, 500)}...</p>\n<hr>\n<h3>SNS 요약</h3>\n<p>${publishPack.sns_summary}</p>\n`;\n\nreturn [{\n  json: {\n    ...prevData,\n    publish_pack: publishPack,\n    meta_title: publishPack.meta_title,\n    meta_desc: publishPack.meta_desc,\n    tags: publishPack.tags,\n    sns_summary: publishPack.sns_summary,\n    final_approval_card: finalCard\n  }\n}];"
      }
    },
    {
      "id": "node_34",
      "name": "Gmail - 최종 승인 요청",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [6880, 280],
      "parameters": {
        "operation": "send",
        "sendTo": "={{ $('Set Init Config').item.json.approver_email }}",
        "subject": "={{ '[블로그봇] 최종 발행 승인: ' + $json.final_title }}",
        "message": "={{ $json.final_approval_card }}\n\n<hr>\n<h3>최종 승인 버튼</h3>\n<p>\n  <a href=\"{{ $execution.resumeUrl }}?approved=true&publish=now\" style=\"background:#4CAF50;color:white;padding:12px 24px;text-decoration:none;border-radius:4px;margin-right:10px;\">✅ 승인 & 즉시 발행</a>\n  <a href=\"{{ $execution.resumeUrl }}?approved=true&publish=draft\" style=\"background:#2196F3;color:white;padding:12px 24px;text-decoration:none;border-radius:4px;margin-right:10px;\">📄 승인 & 임시저장</a>\n  <a href=\"{{ $execution.resumeUrl }}?approved=false\" style=\"background:#f44336;color:white;padding:12px 24px;text-decoration:none;border-radius:4px;\">❌ 거절</a>\n</p>\n<p><small>이 링크는 48시간 동안 유효합니다.</small></p>",
        "options": {
          "appendAttribution": false
        }
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "2",
          "name": "Gmail 계정"
        }
      }
    },
    {
      "id": "node_35",
      "name": "Wait - 최종 승인 대기",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [7120, 280],
      "parameters": {
        "resume": "webhook",
        "options": {
          "webhookSuffix": "final-approval"
        }
      },
      "webhookId": "final-approval-webhook"
    },
    {
      "id": "node_36",
      "name": "IF - 최종 승인?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [7360, 280],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "if_final_approved",
              "leftValue": "={{ $json.query?.approved || $json.body?.approved }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "node_37",
      "name": "Google Docs - 최종본 저장",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [7600, 200],
      "parameters": {
        "operation": "create",
        "title": "={{ '[발행완료] ' + $('Code - 발행 패키지 파싱').item.json.final_title + ' (' + $now.format('yyyy-MM-dd') + ')' }}",
        "content": "={{ '# ' + $('Code - 발행 패키지 파싱').item.json.final_title + '\\n\\n' + '**키워드:** ' + $('Code - 발행 패키지 파싱').item.json.normalized_keyword + '\\n' + '**수요점수:** ' + $('Code - 발행 패키지 파싱').item.json.demand_score + '점\\n' + '**QA점수:** ' + $('Code - 발행 패키지 파싱').item.json.quality_score + '점\\n' + '**메타설명:** ' + $('Code - 발행 패키지 파싱').item.json.meta_desc + '\\n' + '**태그:** ' + $('Code - 발행 패키지 파싱').item.json.tags.join(', ') + '\\n\\n---\\n\\n' + $('Code - 발행 패키지 파싱').item.json.final_md }}",
        "options": {}
      },
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "4",
          "name": "Google Docs 계정"
        }
      }
    },
    {
      "id": "node_38",
      "name": "Google Sheets - 발행 로그 기록",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [7840, 200],
      "parameters": {
        "operation": "append",
        "documentId": "={{ $('Set Init Config').item.json.sheets_id }}",
        "sheetName": "={{ $('Set Init Config').item.json.published_sheet_name }}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "topic_id": "={{ $('Code - 발행 패키지 파싱').item.json.topic_id }}",
            "keyword": "={{ $('Code - 발행 패키지 파싱').item.json.normalized_keyword }}",
            "title": "={{ $('Code - 발행 패키지 파싱').item.json.final_title }}",
            "meta_title": "={{ $('Code - 발행 패키지 파싱').item.json.meta_title }}",
            "demand_score": "={{ $('Code - 발행 패키지 파싱').item.json.demand_score }}",
            "quality_score": "={{ $('Code - 발행 패키지 파싱').item.json.quality_score }}",
            "docs_url": "={{ $json.documentUrl || '임시저장' }}",
            "tags": "={{ $('Code - 발행 패키지 파싱').item.json.tags.join(', ') }}",
            "status": "published",
            "published_at": "={{ $now.toISO() }}",
            "run_id": "={{ $('Set Init Config').item.json.run_id }}",
            "performance_check_date": "={{ $now.plus({days: 14}).format('yyyy-MM-dd') }}"
          }
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1",
          "name": "Google Sheets 계정"
        }
      }
    },
    {
      "id": "node_39",
      "name": "Gmail - 발행 완료 알림",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [8080, 200],
      "parameters": {
        "operation": "send",
        "sendTo": "={{ $('Set Init Config').item.json.approver_email }}",
        "subject": "={{ '✅ [블로그봇] 발행 완료: ' + $('Code - 발행 패키지 파싱').item.json.final_title }}",
        "message": "<h2>✅ 블로그 글 발행 완료</h2><p><b>제목:</b> {{ $('Code - 발행 패키지 파싱').item.json.final_title }}</p><p><b>키워드:</b> {{ $('Code - 발행 패키지 파싱').item.json.normalized_keyword }}</p><p><b>수요 점수:</b> {{ $('Code - 발행 패키지 파싱').item.json.demand_score }}점</p><p><b>QA 점수:</b> {{ $('Code - 발행 패키지 파싱').item.json.quality_score }}점</p><p><b>Google Docs:</b> {{ $('Google Docs - 최종본 저장').item.json.documentUrl }}</p><hr><p><b>SNS 요약:</b><br>{{ $('Code - 발행 패키지 파싱').item.json.sns_summary }}</p><p><b>인스타 캡션:</b><br>{{ $('Code - 발행 패키지 파싱').item.json.publish_pack.instagram_caption }}</p><p><small>📅 성과 재측정 예정일: {{ $now.plus({days: 14}).format('yyyy-MM-dd') }}</small></p>",
        "options": {
          "appendAttribution": false
        }
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "2",
          "name": "Gmail 계정"
        }
      }
    },
    {
      "id": "node_40",
      "name": "Google Sheets - 큐 상태 완료 업데이트",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [8320, 200],
      "parameters": {
        "operation": "update",
        "documentId": "={{ $('Set Init Config').item.json.sheets_id }}",
        "sheetName": "={{ $('Set Init Config').item.json.topic_sheet_name }}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "published",
            "published_at": "={{ $now.toISO() }}"
          }
        },
        "where": {
          "values": [
            {
              "lookupColumn": "topic_id",
              "lookupValue": "={{ $('Code - 발행 패키지 파싱').item.json.topic_id }}"
            }
          ]
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1",
          "name": "Google Sheets 계정"
        }
      }
    },
    {
      "id": "node_41",
      "name": "최종 거절 - 임시저장",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [7600, 400],
      "parameters": {
        "operation": "update",
        "documentId": "={{ $('Set Init Config').item.json.sheets_id }}",
        "sheetName": "={{ $('Set Init Config').item.json.topic_sheet_name }}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "final_rejected",
            "memo": "최종 승인 거절. 재검토 필요"
          }
        },
        "where": {
          "values": [
            {
              "lookupColumn": "topic_id",
              "lookupValue": "={{ $('Code - 발행 패키지 파싱').item.json.topic_id }}"
            }
          ]
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1",
          "name": "Google Sheets 계정"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{"node": "Set Init Config", "type": "main", "index": 0}]]
    },
    "Set Init Config": {
      "main": [[{"node": "Google Sheets - 주제 큐 읽기", "type": "main", "index": 0}]]
    },
    "Google Sheets - 주제 큐 읽기": {
      "main": [[{"node": "IF - 주제 있음?", "type": "main", "index": 0}]]
    },
    "IF - 주제 있음?": {
      "main": [
        [{"node": "Code - 주제 정규화", "type": "main", "index": 0}],
        [{"node": "주제 없음 - 종료", "type": "main", "index": 0}]
      ]
    },
    "Code - 주제 정규화": {
      "main": [[{"node": "Google Sheets - 중복 체크", "type": "main", "index": 0}]]
    },
    "Google Sheets - 중복 체크": {
      "main": [[{"node": "IF - 중복?", "type": "main", "index": 0}]]
    },
    "IF - 중복?": {
      "main": [
        [{"node": "중복 주제 - Angle 재기획 알림", "type": "main", "index": 0}],
        [{"node": "HTTP Request - 네이버 데이터랩", "type": "main", "index": 0}]
      ]
    },
    "HTTP Request - 네이버 데이터랩": {
      "main": [[{"node": "HTTP Request - Google Search Console", "type": "main", "index": 0}]]
    },
    "HTTP Request - Google Search Console": {
      "main": [[{"node": "Code - 수요 점수 계산 (100점)", "type": "main", "index": 0}]]
    },
    "Code - 수요 점수 계산 (100점)": {
      "main": [[{"node": "IF - 점수 65점 이상?", "type": "main", "index": 0}]]
    },
    "IF - 점수 65점 이상?": {
      "main": [
        [{"node": "HTTP Request - Claude 리서치", "type": "main", "index": 0}],
        [{"node": "Google Sheets - 저점수 로그", "type": "main", "index": 0}]
      ]
    },
    "HTTP Request - Claude 리서치": {
      "main": [[{"node": "Code - 리서치 JSON 파싱", "type": "main", "index": 0}]]
    },
    "Code - 리서치 JSON 파싱": {
      "main": [[{"node": "HTTP Request - Claude 아웃라인", "type": "main", "index": 0}]]
    },
    "HTTP Request - Claude 아웃라인": {
      "main": [[{"node": "Code - 아웃라인 JSON 파싱", "type": "main", "index": 0}]]
    },
    "Code - 아웃라인 JSON 파싱": {
      "main": [[{"node": "Gmail - 아웃라인 승인 요청", "type": "main", "index": 0}]]
    },
    "Gmail - 아웃라인 승인 요청": {
      "main": [[{"node": "Wait - 아웃라인 승인 대기", "type": "main", "index": 0}]]
    },
    "Wait - 아웃라인 승인 대기": {
      "main": [[{"node": "IF - 아웃라인 승인?", "type": "main", "index": 0}]]
    },
    "IF - 아웃라인 승인?": {
      "main": [
        [{"node": "HTTP Request - Claude 초안 작성", "type": "main", "index": 0}],
        [{"node": "아웃라인 거절 - 큐 상태 업데이트", "type": "main", "index": 0}]
      ]
    },
    "HTTP Request - Claude 초안 작성": {
      "main": [[{"node": "Code - 초안 파싱", "type": "main", "index": 0}]]
    },
    "Code - 초안 파싱": {
      "main": [[{"node": "HTTP Request - Claude 4중 QA 검수", "type": "main", "index": 0}]]
    },
    "HTTP Request - Claude 4중 QA 검수": {
      "main": [[{"node": "Code - QA 이슈 추출", "type": "main", "index": 0}]]
    },
    "Code - QA 이슈 추출": {
      "main": [[{"node": "IF - 수정 필요?", "type": "main", "index": 0}]]
    },
    "IF - 수정 필요?": {
      "main": [
        [{"node": "HTTP Request - Claude 수정 재작성", "type": "main", "index": 0}],
        [{"node": "Code - 최종본 설정 (수정 없음)", "type": "main", "index": 0}]
      ]
    },
    "HTTP Request - Claude 수정 재작성": {
      "main": [[{"node": "Code - 수정본 파싱", "type": "main", "index": 0}]]
    },
    "Code - 수정본 파싱": {
      "main": [[{"node": "Merge - 최종본 합치기", "type": "main", "index": 0}]]
    },
    "Code - 최종본 설정 (수정 없음)": {
      "main": [[{"node": "Merge - 최종본 합치기", "type": "main", "index": 1}]]
    },
    "Merge - 최종본 합치기": {
      "main": [[{"node": "HTTP Request - Claude 발행 패키지", "type": "main", "index": 0}]]
    },
    "HTTP Request - Claude 발행 패키지": {
      "main": [[{"node": "Code - 발행 패키지 파싱", "type": "main", "index": 0}]]
    },
    "Code - 발행 패키지 파싱": {
      "main": [[{"node": "Gmail - 최종 승인 요청", "type": "main", "index": 0}]]
    },
    "Gmail - 최종 승인 요청": {
      "main": [[{"node": "Wait - 최종 승인 대기", "type": "main", "index": 0}]]
    },
    "Wait - 최종 승인 대기": {
      "main": [[{"node": "IF - 최종 승인?", "type": "main", "index": 0}]]
    },
    "IF - 최종 승인?": {
      "main": [
        [{"node": "Google Docs - 최종본 저장", "type": "main", "index": 0}],
        [{"node": "최종 거절 - 임시저장", "type": "main", "index": 0}]
      ]
    },
    "Google Docs - 최종본 저장": {
      "main": [[{"node": "Google Sheets - 발행 로그 기록", "type": "main", "index": 0}]]
    },
    "Google Sheets - 발행 로그 기록": {
      "main": [[{"node": "Gmail - 발행 완료 알림", "type": "main", "index": 0}]]
    },
    "Gmail - 발행 완료 알림": {
      "main": [[{"node": "Google Sheets - 큐 상태 완료 업데이트", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": ""
  },
  "tags": [
    {"name": "블로그자동화"},
    {"name": "Claude AI"},
    {"name": "콘텐츠마케팅"}
  ]
}
