n8n_workflow_nara.json
{
  "name": "나라장터 입찰공고 모니터링 (강화판)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 23 * * *"
            }
          ]
        }
      },
      "id": "node-trigger",
      "name": "매일 KST 08:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0],
      "notes": "UTC 23:00 = KST 08:00"
    },
    {
      "parameters": {
        "jsCode": "// ===== 설정 영역 =====\nconst KEYWORDS = ['장애인', '문화예술', '예술', 'AI', '인공지능', '콘텐츠', '교육', '복지', '사회적기업'];\n\nconst now = new Date();\nconst yesterday = new Date(now.getTime() - 24 * 60 * 60 * 1000);\n\nfunction fmt(d) {\n  const p = (n) => String(n).padStart(2, '0');\n  return `${d.getFullYear()}${p(d.getMonth() + 1)}${p(d.getDate())}${p(d.getHours())}${p(d.getMinutes())}`;\n}\n\nreturn [{\n  json: {\n    keywords: KEYWORDS,\n    inqryBgnDt: fmt(yesterday),\n    inqryEndDt: fmt(now)\n  }\n}];"
      },
      "id": "node-config",
      "name": "검색 조건 설정",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "url": "http://apis.data.go.kr/1230000/ad/BidPublicInfoService/getBidPblancListInfoServcPPSSrch",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "serviceKey", "value": "={{ $vars.NARA_API_KEY }}" },
            { "name": "pageNo", "value": "1" },
            { "name": "numOfRows", "value": "100" },
            { "name": "inqryDiv", "value": "1" },
            { "name": "inqryBgnDt", "value": "={{ $json.inqryBgnDt }}" },
            { "name": "inqryEndDt", "value": "={{ $json.inqryEndDt }}" },
            { "name": "type", "value": "json" }
          ]
        },
        "options": { "timeout": 30000 }
      },
      "id": "node-api-service",
      "name": "용역 공고 조회",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, -150]
    },
    {
      "parameters": {
        "url": "http://apis.data.go.kr/1230000/ad/BidPublicInfoService/getBidPblancListInfoThngPPSSrch",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "serviceKey", "value": "={{ $vars.NARA_API_KEY }}" },
            { "name": "pageNo", "value": "1" },
            { "name": "numOfRows", "value": "100" },
            { "name": "inqryDiv", "value": "1" },
            { "name": "inqryBgnDt", "value": "={{ $('검색 조건 설정').first().json.inqryBgnDt }}" },
            { "name": "inqryEndDt", "value": "={{ $('검색 조건 설정').first().json.inqryEndDt }}" },
            { "name": "type", "value": "json" }
          ]
        },
        "options": { "timeout": 30000 }
      },
      "id": "node-api-goods",
      "name": "물품 공고 조회",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "url": "http://apis.data.go.kr/1230000/ad/BidPublicInfoService/getBidPblancListInfoCnstwkPPSSrch",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "serviceKey", "value": "={{ $vars.NARA_API_KEY }}" },
            { "name": "pageNo", "value": "1" },
            { "name": "numOfRows", "value": "100" },
            { "name": "inqryDiv", "value": "1" },
            { "name": "inqryBgnDt", "value": "={{ $('검색 조건 설정').first().json.inqryBgnDt }}" },
            { "name": "inqryEndDt", "value": "={{ $('검색 조건 설정').first().json.inqryEndDt }}" },
            { "name": "type", "value": "json" }
          ]
        },
        "options": { "timeout": 30000 }
      },
      "id": "node-api-const",
      "name": "공사 공고 조회",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 150]
    },
    {
      "parameters": {
        "jsCode": "// 3개 API 결과 병합 + 키워드 필터링\nconst keywords = $('검색 조건 설정').first().json.keywords;\n\nfunction extractItems(nodeOutput, category) {\n  const body = nodeOutput?.json;\n  let items = body?.response?.body?.items || [];\n  if (!Array.isArray(items)) items = items ? [items] : [];\n  return items.map(it => ({ ...it, _category: category }));\n}\n\nconst serviceItems = extractItems($('용역 공고 조회').first(), '용역');\nconst goodsItems = extractItems($('물품 공고 조회').first(), '물품');\nconst constItems = extractItems($('공사 공고 조회').first(), '공사');\n\nconst allItems = [...serviceItems, ...goodsItems, ...constItems];\n\n// 중복 제거 (bidNtceNo 기준)\nconst seen = new Set();\nconst unique = allItems.filter(it => {\n  if (seen.has(it.bidNtceNo)) return false;\n  seen.add(it.bidNtceNo);\n  return true;\n});\n\n// 키워드 필터\nconst matched = unique.filter(it => {\n  const name = it.bidNtceNm || '';\n  return keywords.some(kw => name.includes(kw));\n});\n\nconst price = (it) => Number(it.presmptPrce || it.asignBdgtAmt || 0);\n\nreturn matched.map(it => ({\n  json: {\n    공고명: it.bidNtceNm,\n    공고번호: it.bidNtceNo,\n    공고순번: it.bidNtceOrd || '00',\n    분류: it._category,\n    수요기관: it.dminsttNm || it.ntceInsttNm || '-',\n    공고일: it.bidNtceDt,\n    마감일시: it.bidClseDt,\n    추정가격원: price(it),\n    추정가격: price(it) > 0 ? price(it).toLocaleString('ko-KR') + '원' : '미공개',\n    수의계약가능: price(it) > 0 && price(it) <= 20000000,\n    상세URL: `https://www.g2b.go.kr/ep/invitation/publish/bidInvitDtlPublish.do?bidno=${it.bidNtceNo}&bidseq=${it.bidNtceOrd || '00'}`\n  }\n}));"
      },
      "id": "node-merge",
      "name": "병합 및 키워드 필터",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 0]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $items().length }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "node-check",
      "name": "매칭 공고 있음?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [920, 0]
    },
    {
      "parameters": {
        "jsCode": "// 수의계약 가능 공고 분리 (2천만원 이하)\nconst items = $input.all().map(i => i.json);\nconst suui = items.filter(it => it.수의계약가능);\nconst others = items.filter(it => !it.수의계약가능);\n\nreturn [{ json: { all: items, suui, others, suuiCount: suui.length, totalCount: items.length } }];"
      },
      "id": "node-suui",
      "name": "수의계약 분류",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1140, -100]
    },
    {
      "parameters": {
        "url": "http://apis.data.go.kr/1230000/ad/BidPublicInfoService/getSuccssfulBidListInfoThng",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "serviceKey", "value": "={{ $vars.NARA_API_KEY }}" },
            { "name": "pageNo", "value": "1" },
            { "name": "numOfRows", "value": "50" },
            { "name": "inqryDiv", "value": "1" },
            { "name": "bidNtceNm", "value": "={{ $json.공고명.substring(0, 10) }}" },
            { "name": "type", "value": "json" }
          ]
        },
        "options": { "timeout": 30000 }
      },
      "id": "node-history",
      "name": "낙찰 이력 조회",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1140, 100],
      "notes": "SplitInBatches 없이 전체 공고 대표 1건만 조회 (데모용)"
    },
    {
      "parameters": {
        "jsCode": "// 낙찰 이력 → 안정형/중간형/공격형 입찰가 산출\nconst body = $input.first().json;\nlet items = body?.response?.body?.items || [];\nif (!Array.isArray(items)) items = items ? [items] : [];\n\nconst prices = items\n  .map(it => Number(it.sucsfbidAmt || 0))\n  .filter(p => p > 0)\n  .sort((a, b) => a - b);\n\nlet analysis = { 샘플수: 0, 안정형: null, 중간형: null, 공격형: null, 낙찰률평균: null };\n\nif (prices.length >= 3) {\n  const avg = prices.reduce((s, p) => s + p, 0) / prices.length;\n  const min = prices[0];\n  analysis = {\n    샘플수: prices.length,\n    안정형: Math.round(avg).toLocaleString('ko-KR') + '원',\n    중간형: Math.round(avg * 0.97).toLocaleString('ko-KR') + '원',\n    공격형: Math.round((avg + min) / 2 * 0.95).toLocaleString('ko-KR') + '원',\n    낙찰률평균: (avg / prices[prices.length - 1] * 100).toFixed(1) + '%'\n  };\n}\n\nreturn [{ json: { 낙찰이력분석: analysis } }];"
      },
      "id": "node-bid-analysis",
      "name": "낙찰가 분석",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1360, 100]
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "claude-sonnet-4-6",
        "messages": {
          "values": [
            {
              "content": "={{ '당신은 나라장터 입찰 전문가입니다. 아래 공고 목록을 보고 각 공고에 대해 평가하세요.\\n\\n회사 특성:\\n- 장애인기업 + 예비사회적기업\\n- 수의계약 우선 대상(2천만원 이하)\\n- 주요 역량: 문화예술, 콘텐츠, AI, 교육, 복지서비스\\n\\n공고 목록 (JSON):\\n' + JSON.stringify($('수의계약 분류').first().json.all.slice(0, 20), null, 2) + '\\n\\n각 공고번호에 대해 다음 형식으로 JSON 배열로만 응답하세요:\\n[{\"공고번호\": \"...\", \"추천여부\": \"추천|보류|제외\", \"점수\": 0~100, \"이유\": \"한줄이유\"}]' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-ai-filter",
      "name": "AI 적격 판단 (Sonnet)",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1,
      "position": [1360, -100],
      "credentials": {
        "anthropicApi": { "id": "anthropic-cred", "name": "Anthropic API" }
      }
    },
    {
      "parameters": {
        "jsCode": "// AI 응답 파싱 + 수의계약 분류 데이터 병합\nconst aiRaw = $('AI 적격 판단 (Sonnet)').first().json?.text || '';\nconst classified = $('수의계약 분류').first().json;\nconst bidAnalysis = $('낙찰가 분석').first().json?.낙찰이력분석;\n\nlet aiResults = [];\ntry {\n  const match = aiRaw.match(/\\[.*\\]/s);\n  if (match) aiResults = JSON.parse(match[0]);\n} catch(e) {}\n\nconst aiMap = {};\naiResults.forEach(r => { aiMap[r.공고번호] = r; });\n\nconst enriched = classified.all.map(it => ({\n  ...it,\n  AI추천: aiMap[it.공고번호]?.추천여부 || '미분석',\n  AI점수: aiMap[it.공고번호]?.점수 || 0,\n  AI이유: aiMap[it.공고번호]?.이유 || ''\n}));\n\nconst 추천 = enriched.filter(it => it.AI추천 === '추천').sort((a,b) => b.AI점수 - a.AI점수);\nconst 보류 = enriched.filter(it => it.AI추천 === '보류');\nconst 수의 = enriched.filter(it => it.수의계약가능);\n\nreturn [{ json: { 추천, 보류, 수의, 낙찰이력분석: bidAnalysis, totalCount: enriched.length } }];"
      },
      "id": "node-combine",
      "name": "결과 통합",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1600, 0]
    },
    {
      "parameters": {
        "jsCode": "// 최종 이메일 HTML 생성\nconst { 추천, 보류, 수의, 낙찰이력분석, totalCount } = $input.first().json;\nconst today = new Date().toLocaleDateString('ko-KR');\n\nfunction tableRows(items) {\n  if (!items.length) return '<tr><td colspan=\"6\" style=\"padding:12px;text-align:center;color:#999;\">해당 공고 없음</td></tr>';\n  return items.map((it, i) => `\n    <tr style=\"background:${i%2===0?'#fff':'#f9f9f9'}\">\n      <td style=\"padding:8px;border:1px solid #e0e0e0;\">${i+1}</td>\n      <td style=\"padding:8px;border:1px solid #e0e0e0;\"><a href=\"${it.상세URL}\" style=\"color:#1a73e8;\">${it.공고명}</a></td>\n      <td style=\"padding:8px;border:1px solid #e0e0e0;font-size:12px;\">${it.수요기관}</td>\n      <td style=\"padding:8px;border:1px solid #e0e0e0;font-size:12px;\">${it.마감일시}</td>\n      <td style=\"padding:8px;border:1px solid #e0e0e0;\">${it.추정가격}</td>\n      <td style=\"padding:8px;border:1px solid #e0e0e0;font-size:12px;color:${it.AI추천==='추천'?'#2e7d32':'#666'};\">${it.AI점수 ? it.AI점수+'점' : '-'} ${it.AI이유 ? '/ '+it.AI이유 : ''}</td>\n    </tr>`).join('');\n}\n\nconst thead = `<tr style=\"background:#1a73e8;color:#fff;\">\n  <th style=\"padding:8px;\">#</th><th style=\"padding:8px;\">공고명</th><th style=\"padding:8px;\">수요기관</th>\n  <th style=\"padding:8px;\">마감</th><th style=\"padding:8px;\">추정가격</th><th style=\"padding:8px;\">AI판단</th></tr>`;\n\nconst analysisBlock = 낙찰이력분석?.샘플수 > 0 ? `\n<h3 style=\"color:#e65100;\">📊 낙찰가 분석 (샘플 ${낙찰이력분석.샘플수}건)</h3>\n<table style=\"border-collapse:collapse;\">\n  <tr><td style=\"padding:6px 16px;\">✅ 안정형</td><td style=\"font-weight:bold;\">${낙찰이력분析.안정형}</td></tr>\n  <tr><td style=\"padding:6px 16px;\">⚡ 중간형</td><td style=\"font-weight:bold;\">${낙찰이력분析.중간형}</td></tr>\n  <tr><td style=\"padding:6px 16px;\">🎯 공격형</td><td style=\"font-weight:bold;\">${낙찰이력분析.공격형}</td></tr>\n  <tr><td style=\"padding:6px 16px;\">낙찰률</td><td>${낙찰이력분析.낙찰률평균}</td></tr>\n</table>` : '<p style=\"color:#999;\">낙찰 이력 데이터 부족</p>';\n\nconst suuiAlert = 수의.length > 0 ? `\n<div style=\"background:#e8f5e9;border-left:4px solid #4caf50;padding:12px;margin:16px 0;\">\n  <strong>🤝 수의계약 가능 공고 ${수의.length}건</strong> (2천만원 이하 — 장애인기업 우선 대상)<br/>\n  ${수의.map(it => `• <a href=\"${it.상세URL}\">${it.공고명}</a> (${it.추정가격})`).join('<br/>')}\n</div>` : '';\n\nconst html = `\n<div style=\"font-family:Apple SD Gothic Neo, Malgun Gothic, sans-serif;max-width:900px;\">\n  <h2 style=\"color:#1a73e8;\">📋 나라장터 입찰공고 일일 리포트 (${today})</h2>\n  <p>전체 ${totalCount}건 수집 | AI 추천 <strong>${추천.length}건</strong> | 보류 <strong>${보류.length}건</strong> | 수의계약 가능 <strong>${수의.length}건</strong></p>\n  ${suuiAlert}\n  <h3 style=\"color:#2e7d32;\">✅ AI 추천 공고</h3>\n  <table style=\"border-collapse:collapse;width:100%;font-size:13px;\">${thead}${tableRows(추천)}</table>\n  ${analysisBlock}\n  <h3 style=\"color:#f57c00;\">⏳ 보류 공고</h3>\n  <table style=\"border-collapse:collapse;width:100%;font-size:13px;\">${thead}${tableRows(보류)}</table>\n  <hr style=\"margin-top:24px;\"/>\n  <p style=\"font-size:11px;color:#999;\">자동 발송 — (주)미미 나라장터 모니터링 시스템</p>\n</div>`;\n\n// 분석 블록에서 변수명 오타 수정\nreturn [{ json: { \n  subject: `[나라장터] 추천${추천.length}건·수의${수의.length}건 - ${today}`,\n  html: html.replace(/낙찰이력분析/g, 'analysisBlock') \n} }];\n\n// NOTE: 위 html 변수에 낙찰이력분析 오타가 있어 별도 처리함"
      },
      "id": "node-email-build",
      "name": "이메일 본문 생성",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1820, 0]
    },
    {
      "parameters": {
        "jsCode": "// 이메일 HTML 재생성 (오타 없는 버전)\nconst { 추천, 보류, 수의, 낙찰이력분석, totalCount } = $('결과 통합').first().json;\nconst today = new Date().toLocaleDateString('ko-KR');\n\nfunction tableRows(items) {\n  if (!items || !items.length) return '<tr><td colspan=\"6\" style=\"padding:12px;text-align:center;color:#999;\">해당 공고 없음</td></tr>';\n  return items.map((it, i) => `\n    <tr style=\"background:${i%2===0?'#fff':'#f9f9f9'}\">\n      <td style=\"padding:8px;border:1px solid #e0e0e0;\">${i+1}</td>\n      <td style=\"padding:8px;border:1px solid #e0e0e0;\"><a href=\"${it.상세URL}\" style=\"color:#1a73e8;\">${it.공고명}</a></td>\n      <td style=\"padding:8px;border:1px solid #e0e0e0;font-size:12px;\">${it.수요기관}</td>\n      <td style=\"padding:8px;border:1px solid #e0e0e0;font-size:12px;\">${it.마감일시}</td>\n      <td style=\"padding:8px;border:1px solid #e0e0e0;\">${it.추정가격}</td>\n      <td style=\"padding:8px;border:1px solid #e0e0e0;font-size:12px;color:${it.AI추천==='추천'?'#2e7d32':'#666'};\">${it.AI점수 ? it.AI점수+'점' : '-'}${it.AI이유 ? ' / '+it.AI이유 : ''}</td>\n    </tr>`).join('');\n}\n\nconst thead = `<tr style=\"background:#1a73e8;color:#fff;\">\n  <th style=\"padding:8px;\">#</th><th style=\"padding:8px;\">공고명</th><th style=\"padding:8px;\">수요기관</th>\n  <th style=\"padding:8px;\">마감</th><th style=\"padding:8px;\">추정가격</th><th style=\"padding:8px;\">AI판단</th></tr>`;\n\nconst a = 낙찰이력분석;\nconst analysisBlock = (a && a.샘플수 > 0) ? `\n<h3 style=\"color:#e65100;\">📊 낙찰가 분석 (샘플 ${a.샘플수}건)</h3>\n<table style=\"border-collapse:collapse;\">\n  <tr><td style=\"padding:6px 16px;\">✅ 안정형</td><td style=\"font-weight:bold;\">${a.안정형}</td></tr>\n  <tr><td style=\"padding:6px 16px;\">⚡ 중간형</td><td style=\"font-weight:bold;\">${a.중간형}</td></tr>\n  <tr><td style=\"padding:6px 16px;\">🎯 공격형</td><td style=\"font-weight:bold;\">${a.공격형}</td></tr>\n  <tr><td style=\"padding:6px 16px;\">낙찰률</td><td>${a.낙찰률평균}</td></tr>\n</table>` : '<p style=\"color:#999;\">낙찰 이력 데이터 부족 (유사 공고 없음)</p>';\n\nconst suuiAlert = (수의 && 수의.length > 0) ? `\n<div style=\"background:#e8f5e9;border-left:4px solid #4caf50;padding:12px;margin:16px 0;\">\n  <strong>🤝 수의계약 가능 공고 ${수의.length}건</strong> (2천만원 이하 — 장애인기업 우선 대상)<br/><br/>\n  ${수의.map(it => `• <a href=\"${it.상세URL}\">${it.공고명}</a> (${it.추정가격})`).join('<br/>')}\n</div>` : '';\n\nconst html = `\n<div style=\"font-family: Apple SD Gothic Neo, Malgun Gothic, sans-serif; max-width:900px;\">\n  <h2 style=\"color:#1a73e8;\">📋 나라장터 입찰공고 일일 리포트 (${today})</h2>\n  <p>전체 <strong>${totalCount}건</strong> 수집 | AI 추천 <strong style=\"color:#2e7d32;\">${(추천||[]).length}건</strong> | 보류 <strong style=\"color:#f57c00;\">${(보류||[]).length}건</strong> | 수의계약 가능 <strong style=\"color:#4caf50;\">${(수의||[]).length}건</strong></p>\n  ${suuiAlert}\n  <h3 style=\"color:#2e7d32;\">✅ AI 추천 공고</h3>\n  <table style=\"border-collapse:collapse;width:100%;font-size:13px;\">${thead}${tableRows(추천)}</table>\n  ${analysisBlock}\n  <h3 style=\"color:#f57c00;\">⏳ 보류 공고</h3>\n  <table style=\"border-collapse:collapse;width:100%;font-size:13px;\">${thead}${tableRows(보류)}</table>\n  <hr style=\"margin-top:24px;\"/>\n  <p style=\"font-size:11px;color:#999;\">자동 발송 — (주)미미 나라장터 모니터링 시스템 | n8n</p>\n</div>`;\n\nreturn [{ json: {\n  subject: `[나라장터] 추천 ${(추천||[]).length}건 · 수의 ${(수의||[]).length}건 — ${today}`,\n  html\n} }];"
      },
      "id": "node-email-final",
      "name": "이메일 HTML 완성",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2040, 0]
    },
    {
      "parameters": {
        "sendTo": "jjk0112@gmail.com",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.html }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "node-gmail",
      "name": "Gmail 발송",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [2260, 0],
      "credentials": {
        "gmailOAuth2": { "id": "gmail-cred", "name": "Gmail OAuth2" }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { message: '매칭 공고 없음 — 발송 생략', timestamp: new Date().toISOString() } }];"
      },
      "id": "node-no-match",
      "name": "공고 없음 (종료)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1140, 200]
    }
  ],
  "connections": {
    "매일 KST 08:00": {
      "main": [[{ "node": "검색 조건 설정", "type": "main", "index": 0 }]]
    },
    "검색 조건 설정": {
      "main": [
        [
          { "node": "용역 공고 조회", "type": "main", "index": 0 },
          { "node": "물품 공고 조회", "type": "main", "index": 0 },
          { "node": "공사 공고 조회", "type": "main", "index": 0 }
        ]
      ]
    },
    "용역 공고 조회": {
      "main": [[{ "node": "병합 및 키워드 필터", "type": "main", "index": 0 }]]
    },
    "물품 공고 조회": {
      "main": [[{ "node": "병합 및 키워드 필터", "type": "main", "index": 1 }]]
    },
    "공사 공고 조회": {
      "main": [[{ "node": "병합 및 키워드 필터", "type": "main", "index": 2 }]]
    },
    "병합 및 키워드 필터": {
      "main": [[{ "node": "매칭 공고 있음?", "type": "main", "index": 0 }]]
    },
    "매칭 공고 있음?": {
      "main": [
        [{ "node": "수의계약 분류", "type": "main", "index": 0 }],
        [{ "node": "공고 없음 (종료)", "type": "main", "index": 0 }]
      ]
    },
    "수의계약 분류": {
      "main": [
        [
          { "node": "AI 적격 판단 (Sonnet)", "type": "main", "index": 0 },
          { "node": "낙찰 이력 조회", "type": "main", "index": 0 }
        ]
      ]
    },
    "낙찰 이력 조회": {
      "main": [[{ "node": "낙찰가 분석", "type": "main", "index": 0 }]]
    },
    "AI 적격 판단 (Sonnet)": {
      "main": [[{ "node": "결과 통합", "type": "main", "index": 0 }]]
    },
    "낙찰가 분석": {
      "main": [[{ "node": "결과 통합", "type": "main", "index": 1 }]]
    },
    "결과 통합": {
      "main": [[{ "node": "이메일 HTML 완성", "type": "main", "index": 0 }]]
    },
    "이메일 HTML 완성": {
      "main": [[{ "node": "Gmail 발송", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveExecutionProgress": true
  },
  "pinData": {}
}
